/*#7D1E6A Título
  #EEB0B0 Destaques 2  
  #FFE59D Destaques 1  
  #BDE6F1 background   */


.app-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;    
    background: rgb(189,230,241);
background: linear-gradient(35deg, rgba(189,230,241,1) 51%, rgba(255,229,157,1) 78%, rgba(189,230,241,1) 100%);
    height: 100px;
}
.containerLogo{
    display: flex;
    align-items: center;
}
.logo{
    height: 100px;
    width: auto;
    padding: 5px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: #7D1E6A;
    font-size: 25px;
    font-weight: 600;    
    list-style: none;    
}
.navbar :hover{
    color: #7D1E6A;    
}

.Option {    
    text-decoration: none;    
    margin: 0 50px;    
    width: auto;
    padding: 12px;
    font-size: .6em;   
    flex: none;
    display: flex;
    order: 1;
    align-self: center;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    outline: inherit;
}
.ActiveOption {    
    text-decoration: none;
    border-radius: 25;
    margin: 0 50px;    
    width: auto;
    padding: 12px;
    font-size: .6em;
    background: #EEB0B0;
    border-radius: 8px;
    flex: none;
    display: flex;
    order: 1;
    align-self: center;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #7D1E6A;
    border: none;
    border-style: none;
    cursor: pointer;
    outline: inherit;
  }

